<section id="formularioVeiculo">

  <div class="container">
    <div class="section">

      <h3 class="header orange-text">
        {{ veiculo.id ? "Editar":"Cadastrar" }} Veículo
      </h3>

     <section id="mensagem">
        <div class="card-panel red lighten-3" [hidden]="flMensagem">
          <span class="red-text text-darken-4"> 
              <ul>
                <li *ngFor="let erro of erros" >{{ erro }}</li>
              </ul>  
          </span>
        </div>
      </section>

      <div class="row">
        <form class="col s12">

          <div class="row">
            <div class="col s6">
              <label for="marca">Marca</label>
              <input id="marca" type="text" class="validate" [(ngModel)]="veiculo.marca" name="marca">
            </div>
            <div class="col s6">
              <label for="nome">Nome</label>
              <input id="nome" type="text" class="validate" [(ngModel)]="veiculo.nome" name="nome" >
            </div>
          </div>

          <div class="row">
            <div class="col s12">

              <div class="input-field col s6">
                <select materialize="material_select" 
                        [materializeSelectOptions]="selectOptions"
                        name="cor" 
                        [(ngModel)]="veiculo.cor" >
                          <option value="" disabled selected>Selecione uma cor</option>
                          <option *ngFor="let cor of cores" [value]="cor">{{cor}}</option>
               </select>
                <label>Cor</label>
              </div>

              <div class="input-field col s6">
                <select materialize="material_select" 
                        [materializeSelectOptions]="selectOptions" 
                        name="qtdPassageiros"
                        [(ngModel)]="veiculo.qtdPassageiros" >
                        <option value="" disabled selected>Selecione quant. passageiros</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
               </select>
                <label>Quantidade de passageiros</label>
              </div>

            </div>
          </div>

          <div class="row">
            <button class="btn waves-effect waves-light orange" 
                    type="submit" 
                    name="action" 
                    (click)="salvarVeiculo()" >
                    Salvar
                    <i class="material-icons right orange">send</i>
          </button>
          </div>

          <input id="id" type="hidden" [(ngModel)]="veiculo.id" name="id" >

        </form>
      </div>
    </div>
  </div>

</section>