<div class="container">
	<div class="section">

		<h3 class="header orange-text">
			Alugar Carros
		</h3>

		<section id="mensagem">
			<div class="card-panel green lighten-3" *ngIf="flMensagem">
				<span class="green-text text-darken-4"> {{ mensagem }} </span>
			</div>
		</section>

		<div class="row">
			<form id="formVeiculo" class="col s12">
				<div class="row">

					<div class="input-field col s6">
						<i class="material-icons prefix">textsms</i>
						<input type="text" id="autocomplete-cliente" class="autocomplete" [(ngModel)]="clienteSelecionado.nome" (keyup)="getClientesPorNome()"
							name="nomeCliente">
						<label for="autocomplete-cliente">Pesquisar Cliente</label>

						<div class="suggestions">
							<ul class="autocomplete-content dropdown-content">
								<li *ngFor="let cliente of clientes">
									<span class="highlight" (click)="selecionarCliente(cliente)"> {{cliente.nome}} </span>
								</li>
							</ul>
						</div>
					</div>

					<div class="input-field col s6">
						<i class="material-icons prefix">textsms</i>
						<input type="text" id="autocomplete-veiculo" class="autocomplete" [(ngModel)]="veiculoSelecionado.nome" (keyup)="getVeiculosPorNome()"
							name="nomeVeiculo">
						<label for="autocomplete-veiculo">Pesquisar Veiculo</label>

						<div class="suggestions">
							<ul class="autocomplete-content dropdown-content">
								<li *ngFor="let veiculo of veiculos">
									<span class="highlight" (click)="selecionarVeiculo(veiculo)"> {{veiculo.nome}} </span>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col s12">
						<ul materialize="collapsible" data-collapsible="accordion" [hidden]="clienteSelecionado.id == 0">
							<li class="col s6">
								<div class="collapsible-header"><i class="material-icons">perm_identity</i>Informações Do Cliente</div>
								<div class="collapsible-body">
									<ul class="collection with-header">
										<li class="collection-header">
											<h4 class="teal-text">{{clienteSelecionado.nome}}</h4>
										</li>
										<li class="collection-item">
											<div>{{clienteSelecionado.email}}
												<div class="secondary-content">
													<i class="material-icons">email</i>
												</div>
											</div>
										</li>
										<li class="collection-item">
											<div>{{clienteSelecionado.cpf}}
												<div class="secondary-content">
													<i class="material-icons">library_books</i>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>

							<li class="col s6">
								<div class="collapsible-header"><i class="material-icons">navigation</i>Informações Do Veiculo</div>
								<div class="collapsible-body">
									<ul class="collection with-header">
										<li class="collection-header">
											<h4 class="teal-text">{{ veiculoSelecionado.marca }}</h4>
										</li>
										<li class="collection-item">
											<div>
												{{veiculoSelecionado.nome }}
												<div class="secondary-content">
													<i class="material-icons">input</i>
												</div>
											</div>
										</li>
										<li class="collection-item">
											<div>
												{{veiculoSelecionado.cor}}

												<div class="secondary-content">
													<i class="material-icons">polymer</i>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>

						</ul>
					</div>
				</div>


				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light orange" type="submit" name="action" (click)="alugar()">
							Alugar
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>

			</form>
		</div>

	</div>
</div>